.logo-link {
  text-decoration: none;
  user-select: none;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3em;
  width: fit-content;
  border-radius: 6px;
  padding: 0 4px;
  padding-left: 0;
  margin: 0.5em auto 0.75em;
  position: relative;
  overflow: hidden;
}

.logo-link:not(:focus):hover {
  background-color: hsla(205, 20%, 20%, 0.05);
  border-color: hsla(205, 20%, 20%, 0.5);
}

.logo-link::before {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--deep-blue);
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  transform: scale(0.85);
  opacity: 0;
}

@keyframes pulsate {
  from {
    opacity: 0.125;
    transform: scale(0.85);
  }
  to {
    opacity: 0.125;
    transform: scale(0.95);
  }
}

.logo-link:not(:hover):focus {
  outline-color: hsla(205, 20%, 20%, 0.5);
}

.logo-link:not(:hover):focus::before {
  animation: pulsate 1.5s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite alternate
    both;
}

.sign-in-method-toggle {
  border: 1px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  font-size: 0.9em;
  border-radius: 4px;
}

.sign-in-method-toggle:not(:focus):hover {
  background-color: hsla(205, 20%, 20%, 0.05);
}

.sign-in-method-toggle:not(:hover):focus {
  border-color: hsla(205, 20%, 20%, 0.25);
}

.sign-up-text {
  text-align: center;
  margin-block-start: 2em;
  margin-block-end: 1em;
  color: hsla(205, 20%, 20%, 0.75);
}

.sign-up-text a {
  color: var(--deep-blu, #121212);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 2px;
  outline: 1px solid transparent;
}

.sign-up-text a:not(:focus):hover {
  background-color: hsla(205, 20%, 20%, 0.075);
}

.sign-up-text a:not(:hover):focus {
  border-color: hsla(205, 20%, 20%, 0.5);
}
