.notes {
  height: calc(100% - 64px);
  padding: 1.5em;
  overflow: hidden auto;
  position: relative;
}

.notes-wrapper_list {
  margin: 4em auto 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.625em;
}

.notes-wrapper_list > div {
  width: 40em;
}
