.create-wrapper {
  box-shadow: hsl(205, 20%, 18%) 0px 2px 4px,
    hsl(205, 20%, 16%) 0px 7px 13px -3px, hsl(205, 20%, 14%) 0px -3px 0px inset;
  border-radius: 8px;
  outline: 1px solid hsla(171, 45%, 64%, 0.2);
  background-color: hsl(205, 20%, 20%);
  color: var(--kinda-teal);
  width: 50%;
  max-width: 37.5em;
  position: sticky;
  top: 1.5em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.create-wrapper:focus {
  outline-color: hsla(171, 45%, 64%, 0.8);
}

.create-wrapper-flex {
  display: flex;
  align-items: center;
}

.create-wrapper:has(:focus) {
  border-color: hsla(42, 85%, 70%, 0.8);
}

.note-props {
  width: auto;
  height: auto;
  position: relative;
}

.pin-checkbox {
  font-size: 1.5em;
  padding: 6px;
  border-radius: 50%;
  outline: 1px solid transparent;
  position: absolute;
  display: grid;
  place-items: center;
  top: 0.3em;
  right: 0.5em;
  z-index: 7;
}

.pin-checkbox input[type="checkbox"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.pin-checkbox svg {
  opacity: 0.3;
}

.pin-checkbox:is(:focus-within, :hover) {
  background-color: hsla(171, 45%, 64%, 0.15);
}

.pin-checkbox:is(:focus-within, :hover) svg {
  opacity: 1;
}

.more-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  padding: 0.25em 0.5em 0.4em;
}

.more-options > button {
  all: unset;
  padding: 0.5em 1.5em;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
}

.more-options > button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--kinda-teal);
  z-index: -1;
  opacity: 0;
}

.more-options > button:is(:hover, :focus)::before {
  opacity: 0.1;
}

.toolbar-btns {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex: 1 0 auto;
}

.toolbar-btns button svg {
  font-size: 1.125em;
}

.pre-modes {
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding-inline-end: 0.6em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.pre-modes button,
.toggle-wrapper button,
.toolbar-btns button {
  all: unset;
  pointer-events: auto;
  padding: 0.5em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.pre-modes button::before,
.pre-modes button::after,
.toggle-wrapper button::before,
.toggle-wrapper button::after,
.toolbar-btns button::before,
.toolbar-btns button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--kinda-teal);
  z-index: -10;
  opacity: 0;
  transform: scale(0.4);
}

@keyframes ripple {
  from {
    transform: scale(0.4);
    opacity: 0.2;
  }
  to {
    transform: scale(1.2);
    opacity: 0.1;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 0.1;
  }
  to {
    transform: scale(1);
    opacity: 0.1;
  }
}

.pre-modes button:hover,
.toolbar-btns button:hover,
.toggle-wrapper button:hover {
  background-color: hsla(171, 45%, 64%, 0.1);
}

.pre-modes button:focus::before,
.toolbar-btns button:focus::before,
.toggle-wrapper button:focus::before {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite alternate both;
}

.pre-modes button:active::after,
.toolbar-btns button:active::after,
.toggle-wrapper button:active::after {
  animation: ripple 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s 1 alternate both;
}

.hide-whatever-the-fuck-has-this-class-name {
  display: none !important;
}
