.drawer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-block: 0.75em;
  width: 18%;
}

.drawer {
  width: 20em;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.drawer-collapsed {
  width: auto; /* 5em */
}

.drawer :is(a, button) {
  all: unset;
  cursor: pointer;
  min-height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.75em;
  border-radius: 0 3em 3em 0;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.drawer :is(a, button)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  width: 80%;
  aspect-ratio: 1 / 1;
  background-color: var(--kinda-teal);
  opacity: 0;
}

@keyframes pulsate {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.drawer-collapsed :is(a, button) {
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding-left: 0;
  margin-left: 0.5em;
}

.drawer :is(a, button):hover {
  background-color: hsla(171, 45%, 64%, 0.2);
}

.drawer :is(a, button):focus::before {
  opacity: 0.25;
  animation-name: pulsate;
  animation-duration: 1.25s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

.drawer :is(a, button) svg {
  padding: 0 0.5em;
}

.drawer :is(a, button) span {
  user-select: none;
  pointer-events: none;
  margin-left: 1.25em;
}

.divider {
  background-color: var(--deep-blue);
  width: 90%;
  height: 1px;
  margin-block: 2px;
  margin-inline-start: calc(5% + 0.25em);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.attribution {
  all: unset;
  --gh-dark: #0d1117;
  cursor: pointer;
  width: fit-content;
  margin-inline: auto;
  margin-block: 0.5em;
  display: flex;
  align-items: center;
  font-family: "Gloria Hallelujah", cursive;
  background-color: var(--deep-blue);
  color: var(--kinda-teal);
  border: 1px solid;
  padding: 0.4em;
  border-radius: 100vh;
  position: relative;
  overflow: hidden;
}

.attribution::before,
.attribution::after {
  content: "";
  position: absolute;
}

.attribution::before {
  width: 75%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--kinda-teal);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform: scale(0.9);
  opacity: 0;
}

.attribution:focus::before {
  opacity: 0.2;
  animation: pulsate 1.25s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate both;
}

.attribution:not(:focus):hover {
  background-color: #fff;
  color: var(--gh-dark);
  border-color: var(--gh-dark);
}

.attribution svg {
  font-size: 1.125em;
}

.attribution span {
  margin-left: 0.3em;
  pointer-events: none;
  user-select: none;
  font-size: 0.75em;
}
