.create-wrapper {
  border: 1px solid hsla(205, 20%, 19%, 0.5);
  box-shadow: hsla(205, 20%, 19%, 0.8) 1.95px 1.95px 2.6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--notepad);
  width: 50%;
  max-width: 37.5em;
  position: sticky;
  z-index: 7;
  top: 4em;
  left: 0;
  right: 0;
  margin: 0 auto 1.5em;
}

.create-wrapper:has(input:focus) {
  border-color: hsla(205, 20%, 19%, 0.8);
}

.placeholder {
  all: unset;
  flex-grow: 1;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.125em;
  padding: 0.6em;
  width: 100%;
}

.modes {
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding-inline: 0.6em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.modes button {
  pointer-events: auto;
}
