.create-wrapper {
  border: 1px solid var(--deep-blue);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--notepad);
  width: 50%;
  position: relative;
}

.placeholder {
  all: unset;
  flex-grow: 1;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.125em;
  padding: 0.3em 0.6em;
  width: 100%;
}

.modes {
  display: flex;
  align-items: center;
  gap: 0.75em;
  padding-inline: 0.6em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.modes button {
  pointer-events: auto;
}
