.notes-wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.notes-wrapper::-webkit-scrollbar {
  width: 8px;
}

.notes-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--deep-blue);
}
